name: [R] Test and build

on:
  push:
  workflow_dispatch:

jobs:
  unittest:
    uses: ./.github/workflows/tests.yml
  build-and-push:
    uses: ./.github/workflows/build.yml
    if: github.ref == 'refs/heads/master'
    needs: unittest
    permissions:
      contents: write
      packages: write
      issues: write
      pull-requests: write